<script>
  const { Router, route, subscribers, getCurrentUrl, Link: StaticLink } = preactRouter
  import AppHeader from './header.js'
  import Home from './home.js'
  import User from './user.js'
  import Module from './module.js'
  import CreateModule from './create-module.js'
  import CreateVersion from './create-version.js'
  import Version from './version.js'
  import Match from './match.js'

  function Callback (props) {
    const hash = window.location.hash.substr(1).split('&')
    const idToken = hash[0].substring('id_token='.length)
    const token = JSON.parse(window.atob(idToken.split('.')[1]))
    token.idToken = idToken

    const { auth } = props
    auth.updateAuthUser(token)

    setTimeout(() => {
      auth.isAuthenticated
      ? route(`/user/${auth.name}`)
      : route('/')
    })
  }

  export default view
</script>

<function>
  <div>
    <Match path='/' auth={props.auth}>
      <function>
        <AppHeader auth={props.auth} />
      </function>
    </Match>
    <section class='section'>
      <div class='container'>
        <Router onChange=this.handleRoute>
          <Home path='/' />
          <User path='/user/:username' auth={props.auth} />
          <Module path='/user/:username/:module' auth={props.auth} />
          <Version path='/user/:username/:module/:version/:path*' auth={props.auth} />
          <Callback path='/callback' auth={props.auth} />
          <CreateModule path='/create-module' auth={props.auth} protected />
          <CreateVersion path='/user/:username/:module/create-version' auth={props.auth} protected />
        </Router>
      </div>
    </section>
</div>
</function>

