<div class='columns is-centered'>
  <div class='column is-half'>
    <form onsubmit=this.onSubmit>
      <h2 class='title'>{props.username}</h2>
      <nav class='breadcrumb'>
        <ul>
          <li><a href='/user/{props.username}'>{props.username}</a></li>
          <li><a href='/user/{props.username}/{props.module}'>{props.module}</a></li>
          <li class='is-active'><a href='#'>create new version</a></li>
        </ul>
      </nav>


      <article class="message is-success">
        <div class="message-body">
          Choose a zip file, enter the version number and click \"Create new version\".<br />
          <div class="content">
          <ul>
            <li>Maximum .zip file size is 5Mb</li>
            <li>Only .js, .json, .ts files are accepted</li>
            <li>The version number must be unique</li>
          </ul>
        </div>
      </article>
      
      <div class='field'>
        <div class='file is-medium {state.fileName ? " has-name" : ""}'>
          <label class='file-label'>
            <input class='file-input' type='file' name='file' accept='.zip' onchange=this.onFileChange>
            <span class='file-cta'>
              <span class='file-icon'>
                <i key='icon' class='fas fa-upload'></i>
              </span>
              <span class='file-label'>Choose a zip file</span>
            </span>
            <span if='state.fileName' class='file-name'>{state.fileName}</span>
          </label>
        </div>
      </div>
      <div class='field'>
        <div class='control'>      
          <div class='field'>
              <div class='columns'>
                <div class='column'>
                  <input type='number' name='major' class='input is-medium' placeholder='Major' autocomplete='off' />
                </div>
                <div class='column'>
                  <input type='number' name='minor' class='input is-medium' placeholder='Minor' autocomplete='off' />
                </div>
                <div class='column'>
                  <input type='number' name='revision' class='input is-medium' placeholder='Revision' autocomplete='off' />
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class='control'>
        <button type='submit' class='button is-medium'>Create new version</button>
      </div>
    </form>
  </div>
</div>
