<header>
  <nav class='navbar is-white'>
    <div class='navbar-brand'>
      <a class='navbar-item' href='/'>
        <img src='/assets/logo8.png' alt='CDeNo'>
        CDENO
      </a>

      <a class='navbar-burger' onclick='e => this.setState({ toggle: !state.toggle})'>
        <span aria-hidden='true'></span>
        <span aria-hidden='true'></span>
        <span aria-hidden='true'></span>
      </a>
    </div>

    <div class='navbar-menu {state.toggle ? "is-active" : ""}'>
      <div class='navbar-end'>
        <if condition='props.auth.isAuthenticated'>
          <a class='navbar-item' href='/user/{props.auth.name}'>{props.auth.name}</a>
          <a class='navbar-item' href='/create-module'>Create Module</a>
          <div class='divider'></div>
          <a class='navbar-item' href='https://cdeno.auth.eu-west-1.amazoncognito.com/logout?response_type=token&client_id=7o7kmgq1dgfv2ab367ghj9mm7l&redirect_uri={this.callbackUrl}' onclick=this.logout>Logout</a>
        <else>
          <a class='navbar-item' href='https://cdeno.auth.eu-west-1.amazoncognito.com/login?response_type=token&client_id=7o7kmgq1dgfv2ab367ghj9mm7l&redirect_uri={this.callbackUrl}'>Log in</a>
          <a class='navbar-item' href='https://cdeno.auth.eu-west-1.amazoncognito.com/signup?response_type=token&client_id=7o7kmgq1dgfv2ab367ghj9mm7l&redirect_uri={this.callbackUrl}'>Sign up</a>
      </div>
    </div>
  </nav>
</header>
