<div class='columns is-centered'>
  <div class='column is-half'>
    <nav class='breadcrumb'>
      <ul>
        <li><a href='/user/{props.username}'>{props.username}</a></li>
        <li class='is-active'><a href='#'>{props.module}</a></li>
      </ul>
    </nav>

    <if condition='state.loaded'>
      <h1 class='title'>{state.module.name}</h1>
      <p class='content' if='state.module.description'>{state.module.description}</p>
    </if>
    <nav class='panel'>
      <p class='panel-heading'>Versions</p>
      <if condition='state.hasVersions'>
        <a class='panel-block' each='version in state.versions' href='/user/{props.username}/{props.module}/{version.version}'>
          <span class='panel-icon'>
            <i class='fas fa-cube'></i>
          </span>
          {version.version}
        </a>
      <elseif condition='state.loaded'>
        <span class='panel-block'>
          No versions found for module `{props.module}`
        </span>
      <else>
        <div class='panel-block'>
          <span class='loader'></span>
        </div>
      </if>
    </nav>

    <p class='content'>
      <a if='props.username === props.auth.name' href='/user/{props.username}/{props.module}/create-version'>Create new version</a>
    </p>

    <if condition='state.loaded'>
      <div class='content'>
        <if condition='state.module.keywords'>
          <strong>Keywords</strong>
          <p>{state.module.keywords}</p>
          
        </if>
        <if condition='state.module.keywords'>
          <strong>Repository</strong>
          <p if='state.module.repositoryUrl'><i class='fas fa-code-branch'></i>{' '}{state.module.repositoryUrl}</p>
        </if>
      </div>
    </if>
  </div>
</div>
  