<div class='columns is-centered'>
  <div class='column is-half'>
    <h2 class='title'>{props.username}</h2>
    <nav class='breadcrumb'>
      <ul>
        <li class='is-active'><a href='#'>{props.username}</a></li>
      </ul>
    </nav>
      <nav class='panel'>
        <p class='panel-heading'>Modules</p>
        <if condition='state.hasModules'>
          <a class='panel-block' each='module in state.modules' href='/user/{props.username}/{module.name}'>
            <span class='panel-icon'>
              <i class='fas fa-cubes'></i>
            </span>
            {module.name}
          </a>
        <elseif condition='state.loaded'>
          <span class='panel-block'>
            No modules found for user `{props.username}`
          </span>
        </if>
      </nav>
    <a if='props.username === props.auth.name' href='/create-module'>Create new module</a>
  </div>
</div>
