<div class='columns is-centered'>
  <div class='column is-half'>
    <nav class='breadcrumb'>
      <ul>
        <li><a href='/user/{props.username}'>{props.username}</a></li>
        <li><a href='/user/{props.username}/{props.module}'>{props.module}</a></li>
        <if condition='!props.path'>
          <li class='is-active'><a href='#'>{props.version}</a></li>
        <else>
          <li><a href='/user/{props.username}/{props.module}/{props.version}'>{props.version}</a></li>
          <li each='crumb in this.pathCrumbs' class='{($index === $target.length - 1) ? "is-active" : ""}'>
            <a href={crumb.href}>{crumb.name}</a>
          </li>
        </if>
      </ul>
    </nav>
    <nav class='panel'>
      <!-- <p class='panel-heading'>Files</p> -->
      <if condition='state.loaded'>
        <if condition='state.isFile'>
          <div class='panel-block'>
            <a href={this.getFileUrl()}>{this.getFileUrl()}</a>
          </div>
          <pre key={props.path}>{state.content}</pre>
        <else>
          <if condition='state.hasFolders'>
            <a class='panel-block' key={folder.key} each='folder in state.folders' href='/user/{folder.key}?type=folder'>
              <span class='panel-icon'>
                <i class='far fa-folder'></i>
              </span>
              {folder.name}
            </a>
          </if>
          <if condition='state.hasFiles'>
            <a class='panel-block' key={file.key} each='file in state.files' href='/user/{file.key}?type=file'>
              <span class='panel-icon'>
                <i class='fas fa-file'></i>
              </span>
              {file.name}
            </a>
          </if>
        </if>
      <else>
        <div class='panel-block'>
          <span class='loader'></span>
        </div>
      </if>
    </nav>
  </div>
</div>
  